<h2>Atualizar cadastro de pessoa:</h2>

<form name='form1' action='/controllerUpdate' method='post'>
    <input type='hidden' name='id' id='id' placeholder='Id:' value='{{id}}'>
    <p>Nome:</p>
    <input type='text' name='name' id='name' placeholder='Nome:' value='{{name}}'>
    <p>Idade:</p>
    <input type='text' name='age' id='age' placeholder='Idade:' value='{{age}}'><br><br>
    <input type='submit' name='btnSubmit' id='btnSubmit' value='Salvar alterações'>
</form>